{{!-- HOT BAR --}}
<div class=" popGoodsServices">
<h4 class="popTitle">Popular Goods & Services</h4>
  {{#each items as |item| }}
  <div class="row gsCards">
      <div class="card pgCards">
        <div class="card-image">
          <img src="andy.jpeg">
          <span><a href="/item/{{item.id}}">{{item.name}}</a></span>
        </div>

        <div class="card-content">
          <p>{{item.desc}}</p>
          <p>Posted by {{item.owner.username}}</p>
        </div>
      </div>
  </div>
  {{/each}}
</div>

{{!-- FILTERS BAR --}}
<div class="filters">
<h4>Filters</h4>
  {{!-- Range Slider --}}
  <div class="filterBtn">
    <a class="waves-effect waves-light btn filtersBtn">Categories</a>
    <a class="waves-effect waves-light btn filtersBtn">Communities</a>
  </div>

  {{!--Categories Selector  --}} 
  {{!-- <div class="custom-select" style="width:200px;">
    <select>
        {{#each categories |category|}}
        <option value={{category.id}}>{{category.name}}</option>
        {{/each}}
    </select>
  </div>--}}

  {{!-- Community Selector --}}
  {{!--<div class="custom-select" style="width:200px;">
    <select>
        {{#each communities |community|}}
        <option value={{community.id}}>{{community.name}}</option>
        {{/each}}
    </select>
  </div> --}}
</div>



{{!-- ALL ITEMS BAR --}}
<div class="goodsServices">
  <h4>Goods & Services</h4>
  {{#each items as |item| }}
  <div class="row gsCards">
      <div class="card">
        <div class="card-image">
          <img src="andy.jpeg">
          <span><a href="/item/{{item.id}}">{{item.name}}</a></span>
        </div>

        <div class="card-content">
          <p>{{item.desc}}</p>
          <p>Posted by {{item.owner.username}}</p>
        </div>
      </div>
  </div>
  {{/each}}
</div>