{{!-- HOT BAR --}}
<div class="popGoodsServices">
<h4 class="popTitle">Popular Goods & Services</h4>
{{!-- 1 --}}
  {{#each items as |item|}}
  <div class="row gsCards">
      <div class="card pgCards">
        <a href="/item/{{item.id}}">
          <div class="card-image">
            <img src="https://www.thepuffpack.com/wp-content/uploads/2020/10/mysteryitem.jpg">
            <span><a id="card-title" href="/item/{{item.id}}">{{item.name}}</a></span>
          </div>
        </a>

        <div class="card-content">
          <p>{{item.desc}}</p>
          <p>Posted by {{item.owner.username}}</p>
        </div>
      </div>
  </div>
  {{/each}}

{{!-- 2 --}}
  {{!-- <div class="row gsCards">
      <div class="card pgCards">
        <div class="card-image">
          <img src="./images/andy.jpeg">
          <span><a href="/item/{{item.id}}">{{item.name}}</a></span>
        </div>

        <div class="card-content">
          <p>{{item.desc}}</p>
          <p>Posted by {{item.owner.username}}</p>
        </div>
      </div>
  </div> --}}

{{!-- 3 --}}
  {{!-- <div class="row gsCards">
      <div class="card pgCards">
        <div class="card-image">
          <img src="./images/andy.jpeg">
          <span><a href="/item/{{item.id}}">{{item.name}}</a></span>
        </div>

        <div class="card-content">
          <p>{{item.desc}}</p>
          <p>Posted by {{item.owner.username}}</p>
        </div>
      </div>
  </div> --}}

  {{!-- 4 --}}
  {{!-- <div class="row gsCards">
      <div class="card pgCards">
        <div class="card-image">
          <img src="./images/andy.jpeg">
          <span><a href="/item/{{item.id}}">{{item.name}}</a></span>
        </div>

        <div class="card-content">
          <p>{{item.desc}}</p>
          <p>Posted by {{item.owner.username}}</p>
        </div>
      </div>
  </div> --}}

  {{!-- 5 --}}
  {{!-- <div class="row gsCards">
      <div class="card pgCards">
        <div class="card-image">
          <img src="./images/andy.jpeg">
          <span><a href="/item/{{item.id}}">{{item.name}}</a></span>
        </div>

        <div class="card-content">
          <p>{{item.desc}}</p>
          <p>Posted by {{item.owner.username}}</p>
        </div>
      </div>
  </div>--}}
</div>

{{!-- FILTERS BAR --}}
<div class="filters">
<h4>Filters</h4>
  {{!-- Range Slider --}}
  <div class="filterBtn">
    <a class="waves-effect waves-light btn filtersBtn">Categories</a>
    <a class="waves-effect waves-light btn filtersBtn">Communities</a>
  </div>
</div>

{{!-- ALL ITEMS BAR --}}
<div onclick= location='./item/{{item.id}}' class="goodsServices">
  <h4 class="gsHead">Goods & Services</h4>
  {{#each items as |item| }}
  <div class="row gsCards">
      <div class="card">
        <a href="/item/{{item.id}}">
          <div class="card-image">
            <img src="https://www.thepuffpack.com/wp-content/uploads/2020/10/mysteryitem.jpg">
            <span class="center"><a id="card-title" href="/item/{{item.id}}">{{item.name}}</a></span>
          </div>
        </a>

        <div class="card-content">
          <p>{{item.desc}}</p>
          <p>Posted by {{item.owner.username}}</p>
        </div>
      </div>
  </div>
  {{/each}}
</div>

{{!-- <script src="./js/index.js"></script> --}}