<div class="item-page center">

  <div class="item-container">
    <h2>{{name}}</h2>
    <h3>{{cat_id.name}}</h3>
    <p class="item-text"><span class="item-det item-text">Description: </span> {{desc}}</p>
    <p class="item-text"><span class="item-det item-text">Quality: </span>{{quality}}</p>
    <p class="item-text"><span class="item-det item-text">Posted by: </span>{{owner.username}}</p>
  </div>

  <div>
    <h4 id="inquire">Send Inquiry</h4>
    <a id="emailBtn" href="mailto:{{owner.email}}">Send Email</a>
  </div>

</div>

<script src="./js/item.js"></script>