<div class="">

  <div class="">
    <h2><a href="/item/{{id}}">{{name}}</a></h2>
    <h3>{{category.name}}</h3>
    <p>{{desc}}</p>
    <p>{{quality}}</p>
    <p>Posted by {{user.username}}</p>
  </div>

<button id="trade-button">Trade</button>
</div>
