
<div class="">

  <div class="">
    <h2><a href="/item/{{id}}">{{name}}</a></h2>
    <h3>{{category.name}}</h3>
    <p>{{desc}}</p>
    <p>{{quality}}</p>
    <p>Posted by {{user.username}}</p>
  </div>

<button id="trade-button">Trade</button>
</div>

<div class="">

  <div class="">
    <h1>Make An Offer</h1>
    {{#each images as |image|}}
     <a href="{{image.path}}"><img src="{{image.path}}"></a>
    {{/each}}
  </div>

<button id="offer-button">Make Offer</button>
</div>

 

   <h4>More Items</h4>
    <!-- Modal Trigger -->
  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>
