<div class="">

  <div class="">
    <h2><a href="/item/{{id}}">{{name}}</a></h2>
    <h3>{{category.name}}</h3>
    <p>{{desc}}</p>
    <p>{{quality}}</p>
    <p>Posted by {{user.username}}</p>
  </div>

<button id="trade-button">Trade</button>
</div>

<div class="">

  <div class="">
    <h1>Make An Offer</h1>
    {{#each images as |image|}}
     <a href="{{image.path}}"><img src="{{image.path}}"></a>
    {{/each}}
  </div>

<button id="offer-button">Make Offer</button>
</div>